/*#region Code Copy */

/* Make code block copy button fade in and out */
.markdown-rendered pre:not(:hover) > button.copy-code-button
{
	display: unset;
	opacity: 0;
}

.markdown-rendered pre:hover > button.copy-code-button
{
	opacity: 1;
}

.markdown-rendered pre button.copy-code-button
{
	transition: opacity 0.2s ease-in-out, width 0.3s ease-in-out, background-color 0.2s ease-in-out;
	text-overflow: clip;
}

.markdown-rendered pre > button.copy-code-button:hover
{
	background-color: var(--interactive-normal);
}

.markdown-rendered pre > button.copy-code-button:active
{
	background-color: var(--interactive-hover);
	box-shadow: var(--input-shadow);
	transition: none;
}

/*#endregion */

/*#region Canvas */
.canvas-card-menu {
	display: none;
	cursor: default !important;

}

.canvas-controls {
	display: none;
	cursor: default !important;

}

.canvas-node-connection-point 
{
	display: none;
	cursor: default !important;

}

.canvas-menu-container {
	display: none;
}

.canvas-node-content-blocker
{
	display: none;
	cursor: pointer !important;
}

.canvas-wrapper
{
	position: relative;
	cursor: default !important;
}

.canvas-node-resizer
{
	cursor: default !important;
}

.canvas-node-container
{
	cursor: default !important;
}

/*#endregion */

/*#region Sidebars */

.sidebar {
    background-color: var(--background-secondary);
    flex: 1 0 min-content;
    display: flex;
    align-items: flex-start;
    font-size: 14px;
}

.sidebar-section-header
{
  margin: 0em 0 0em var(--sidebar-margin);
  text-transform: uppercase;
  letter-spacing: 0.06em;
  font-weight: 600;
}

.sidebar-content {
    width: var(--sidebar-width);
    line-height: var(--line-height-tight);
    display: flex;
    flex-direction: column;
    padding: 10px;
    padding-bottom: 0;
    height: 100%;
}

.sidebar-scroll-area
{
    width: 100%;
    height: 100%;
    line-height: var(--line-height-tight);
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
}

.sidebar-left
{
    border-right: 1px dashed var(--divider-color);
	z-index: 1000;
	align-items: flex-end;
    flex-direction: row-reverse;
}

.sidebar-right
{
    border-left: 1px dashed var(--divider-color);
	z-index: 1000;
	align-items: flex-start;
    flex-direction: row;
}

@media print 
{
    .sidebar, .outline-container, .theme-toggle-container, .theme-toggle-container-inline, .toggle-background, .theme-toggle-input
    {
        display: none !important;
    }
}

/*#endregion */

/*#region Content / Markdown Preview View */

.webpage-container {
    background-color: var(--background-primary);
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100%;
    align-items: stretch;
    position: fixed;
}

.document-container
{
    flex-basis: var(--content-width);
}

.markdown-reading-view
{
    align-self: center;
    -ms-flex-align: center;
    width: 100%;
}

.markdown-preview-view
{
    display: flex;
    width: 100%;
    max-width: 100%;
    padding-bottom: 30em;
    align-items: flex-start;
    justify-content: center;
}

.document-container > .markdown-preview-view > .markdown-preview-sizer
{
    padding: unset;
    width: unset;
    height: unset;
    margin: unset;
    max-width: unset;
    min-height: unset;
    max-width: var(--line-width);
    flex-basis: var(--line-width);
}

/*#endregion */

/*#region Kanban */

.markdown-preview-view.kanban-plugin__markdown-preview-view {
    font-family: var(--font-text, var(--default-font));
    font-size: .875rem;
    line-height: var(--line-height-tight);
    padding: unset;
    width: unset;
    height: unset;
    position: unset;
    overflow-y: unset;
    overflow-wrap: unset;
    color: unset;
    user-select: unset;
    -webkit-user-select: unset;
}

.kanban-plugin__item-button-wrapper, .kanban-plugin__lane-grip, .kanban-plugin__lane-settings-button.clickable-icon, .kanban-plugin__item-postfix-button.clickable-icon
{
    display: none;
}

/*#endregion */

/*#region Tree */

/* Base tree */
.tree-container 
{
	/* padding-bottom: 12px; */
	/* margin: 12px; */
	/* height: 100%; */
	/* position: relative; */
	/* display: contents; */
	position: relative;
	height: 100%;
	width: auto;
	margin: var(--sidebar-margin);
	margin-top: 3em;
    margin-bottom: 0;
}

.tree-container .tree-header 
{
	display: flex;
	flex-direction: row;
	align-items: center;
	position: absolute;
	top: -3em;
}

.tree-container .tree-header .sidebar-section-header
{
    margin: 1em;
    margin-left: 0;
}

.tree-container:has(.tree-scroll-area:empty) 
{
    display: none;
}

.tree-container .tree-scroll-area 
{
	width: 100%;
	height: 100%;
	max-height: 100%;
	overflow-y: scroll;
	padding: 1em;
	padding-right: calc(1em + var(--sidebar-margin));
	padding-bottom: 3em;
	border-radius: var(--radius-m);
	position: absolute;
}

.tree-container .tree-item 
{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0;
}

.tree-container .tree-item-children
{
    padding: 0;
    margin-left: 0;
    border-left: none;
    width: 100%;
}

.tree-container .tree-item.mod-active > .tree-item-contents > .tree-item-link
{
    color: var(--color-accent);
}

.tree-container .tree-item-contents {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    border-radius: 0.4em;
    color: var(--nav-item-color);
    width: 100%;
    margin-left: var(--tree-horizontal-spacing);
}

.tree-container .tree-item-contents:active 
{
    color: var(--nav-item-color-active);
}

.tree-container a.tree-item-link 
{
    width: 100%;
    height: 100%;
    transition: background-color 0.1s;
    border-radius: var(--radius-s);
    padding-left: calc(var(--tree-horizontal-spacing) + var(--collapse-arrow-size)/2 + 1px);
    padding-bottom: calc(var(--tree-vertical-spacing) / 2);
    padding-top: calc(var(--tree-vertical-spacing) / 2);
    color: var(--nav-item-color);
    text-decoration: none;
}

.tree-container .tree-item-icon.collapse-icon {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-radius: var(--radius-s);
    transition: background-color 0.1s;
    position: absolute;
    height: 100%;
}

.tree-container .tree-item.mod-tree-folder > .tree-item-contents > .tree-item-icon.collapse-icon
{
    width: 100%;
}

.collapse-icon > svg {
    color: unset !important;
}

.collapse-icon:hover 
{
    color: var(--nav-item-color-hover);
}

.tree-container a.tree-item-link:hover 
{
    cursor: pointer;
    color: var(--nav-item-color-hover);
    text-decoration: underline;
}

/* Indentation guide */

.tree-container > .tree-scroll-area > * .tree-item
{
    margin-left: calc(var(--tree-horizontal-spacing) + var(--collapse-arrow-size) / 2 + 1px);
    border-left: var(--nav-indentation-guide-width) solid var(--nav-indentation-guide-color);
}

.tree-container .tree-scroll-area > * > * > .tree-item
{
    margin-left: calc(var(--collapse-arrow-size) / 2 + 1px);
}

.tree-container .tree-item.mod-active
{
    border-left: var(--nav-indentation-guide-width) solid var(--color-accent);
}


.tree-container .tree-item:hover:not(.mod-active):not(.mod-collapsible):not(:has(.tree-item:hover)) /* Hover */
{
    border-left: var(--nav-indentation-guide-width) solid var(--nav-item-color-hover);
}

.webpage-container .tree-container .tree-item:not(.mod-collapsible) > .tree-item-children > .tree-item,
.webpage-container .tree-container > .tree-scroll-area > .tree-item,
.webpage-container .tree-container:not(.mod-nav-indicator) .tree-item
{
    border-left: none !important;
}

.webpage-container .tree-container .tree-item:not(.mod-collapsible) > .tree-item-children > .tree-item > .tree-item-contents,
.webpage-container .tree-container:not(.mod-nav-indicator) .tree-item .tree-item-contents,
.webpage-container .tree-container > .tree-scroll-area > .tree-item > .tree-item-contents
{
    margin-left: 0 !important;
}

/* Special */

.tree-container.outline-tree .tree-item[data-depth='1'] > .tree-item-contents > .tree-item-link
{
    font-weight: 900;
    font-size: 1.1em;
    margin-left: 0;
}

.tree-container .tree-item.is-collapsed > .tree-item-contents > .tree-item-icon.collapse-icon > svg
{
    transition: transform 0.1s ease-in-out;
    transform: rotate(-90deg);
}



/*#endregion */

/*#region Headers */

.collapse-icon svg.svg-icon {
    color: var(--nav-collapse-icon-color);
    stroke-width: 4px;
    width: var(--collapse-arrow-size);
    height: var(--collapse-arrow-size);
    transition: transform 100ms ease-in-out 0s;
    min-width: 10px;
    min-height: 10px;
}

div.is-collapsed > * > .heading-collapse-indicator.collapse-icon > svg
{
    transition: transform 0.1s ease-in-out;
    transform: rotate(-90deg);
}

/*#endregion */

/*#region Text Wrapping */
a {
    overflow-wrap: anywhere;
}

* 
{
    overflow-wrap: break-word;
}

/*#endregion */

/*#region Obsidian Columns Plugin */
.columnParent {
    display: flex;
    padding: 15px 20px;
    flex-wrap: wrap;
    gap: 20px;
}

.columnParent {
    white-space: normal;
}

.columnChild {
    flex-grow: 1;
    flex-basis: 0px;
}
/*#endregion */

/*#region Theme Toggle */

.theme-toggle-container {
    --toggle-width: 50px;
    --toggle-height: 23px;
    --border-radius: calc(var(--toggle-height) / 2);
    --handle-width: calc(var(--toggle-height) * 0.65);
    --handle-radius: calc(var(--handle-width) / 2);
    --handle-margin: calc((var(--toggle-height) / 2.0) - var(--handle-radius));
    --handle-translation: calc(var(--toggle-width) - var(--handle-width) - (var(--handle-margin) * 2));

    display: inline-block;
    cursor: pointer;
	margin: 10px;
}

/* animation to expand width, move handle, then contract width */
@keyframes toggle-slide-right
{
    0%
    {
        width: var(--handle-width);
        transform: translateX(0);
    }
    50%
    {
        width: calc(var(--toggle-width) * 0.5);
    }
    90%
    {
        width: var(--handle-width);
    }
    100%
    {
        transform: translateX(var(--handle-translation));
    }
}

@keyframes toggle-slide-left
{
    0%
    {
        width: var(--handle-width);
        transform: translateX(calc(var(--handle-translation) - ((var(--toggle-width) * 0.33) - var(--handle-width))));
    }
    70%
    {
        width: calc(var(--toggle-width) * 0.5);
    }
    100%
    {
        width: var(--handle-width);
        transform: translateX(0);
    }
}

/* just exapnd and contract */
@keyframes toggle-expand-right
{
    0%
    {
        width: var(--handle-width);
    }
    100%
    {
        width: calc(var(--toggle-width) * 0.33);
    }
}

@keyframes toggle-expand-left
{
    0%
    {
        width: var(--handle-width);
        transform: translateX(var(--handle-translation));
    }
    100%
    {
        width: calc(var(--toggle-width) * 0.33);
        transform: translateX(calc(var(--handle-translation) - ((var(--toggle-width) * 0.33) - var(--handle-width))));
    }
}

@keyframes toggle-contract
{
    0%
    {
        width: calc(var(--toggle-width) * 0.33);
    }
    100%
    {
        width: var(--handle-width);
    }
}

.theme-toggle-input {
    display: none;
    z-index: 1000;
}

/* Fill in dark mode / default */
.toggle-background {
    position: relative;
    width: var(--toggle-width);
    height: var(--toggle-height);
    border-radius: var(--border-radius);
	background-color: var(--background-modifier-border);

    transition: background-color 0.2s;
    z-index: 1000;

    /* box-shadow: inset 0px 0px 100px -70px var(--color-accent); */
}

/* Handle default */
.toggle-background::before 
{
    content: "";
    position: absolute;
    left: var(--handle-margin);
    top: var(--handle-margin);
    height: var(--handle-width);
    width: var(--handle-width);
    
    border-radius: var(--handle-radius);
    background-color: var(--text-normal);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.2);
    animation: toggle-slide-left 0.2s ease-in-out normal both;

    z-index: 1000;
}

/* handle light*/
.theme-toggle-input:checked ~ .toggle-background::before 
{
    animation: toggle-slide-right 0.2s ease-in-out normal both;
}

.theme-toggle-input:active ~ .toggle-background::before 
{
    animation: toggle-expand-right 0.2s ease-in-out normal both;
}

.theme-toggle-input:active:checked ~ .toggle-background::before
{
    animation: toggle-expand-left 0.2s ease-in-out normal both;
}

/* sun moon icon icon default */
.toggle-background::after
{
    content: "";
    position: absolute;
    right: var(--handle-margin);
    top: calc(var(--handle-margin));
    height: var(--handle-width);
    width: var(--handle-width);
    transition: transform 0.3s;
    background: url('https://api.iconify.design/lucide/moon.svg?color=white') no-repeat center center;
    transform: scale(0.9);
}

/* sun moon icon icon light */
.theme-toggle-input:checked ~ .toggle-background::after
{
    transform: translateX(calc(var(--handle-translation) * -1)) scale(0.9);
    background: url('https://api.iconify.design/lucide/sun.svg') no-repeat center center;
}

/*#endregion */

/*#region Graph View */
#graph-canvas
{
    width: 100%;
    height: 100%;
    border: 1px solid var(--modal-border-color);
    border-radius: var(--modal-radius);
    aspect-ratio: 1/1;
}

.graph-view-container.expanded
{
    position: fixed;
    width: 60%;
    height: 90%;
    right: 20%;
    top: 5%;
    background-color: var(--background-secondary);
    z-index: 1000;
}

.graph-view-container 
{
    position: relative;
    width: 100%;
    aspect-ratio: 1/1;
    display: flex;
}

.graph-icon 
{
    cursor: pointer;
    color: var(--text-muted);
}

.graph-view-container .graph-icon > svg
{
    width: 24px;
    height: 24px;

    background-color: var(--color-base-00);
    outline-width: 6px;
    outline-color: var(--color-base-00);
    outline-offset: -1px;
    outline-style: solid;
    border-radius: 100px;
    margin: 10px;
}

.graph-view-placeholder 
{
    padding: 0;
    width: auto;
    aspect-ratio: 1/1;
    position: relative;
    flex: none;
    margin: var(--sidebar-margin);
}

.graph-view-placeholder:has(.expanded)
{
    border-radius: var(--modal-radius);
    border: 1px solid var(--modal-border-color);
}

.scale-down 
{
    transition: transform 0.2s ease-in-out;
    transform: scale(0.9);
}

.scale-up 
{
    transition: transform 0.2s ease-in-out;
    transform: scale(1);
}

.graph-expand 
{
    position: absolute;
    top: 5px;
    right: 5px;
}



/*#endregion */

/*#region Tweaks */

hr
{
    border: none;
	border-top: var(--hr-thickness) solid;
    border-color: var(--hr-color);
}

.markdown-embed-link
{
    display: none;
}

/*#endregion */

.App {
    font-family: sans-serif;
    text-align: center;
  }
    
  .excalidraw-wrapper {
    height: 100%;
    margin: 0px;
    background-color: white;
  }
  
  .context-menu-option__shortcut {
      background-color: transparent !important;
  }

.block-language-excalidraw {
  text-align:center;
}

.excalidraw .github-corner {
  display: none;
}

img.excalidraw-embedded-img {
  width: 100%;
}

img.excalidraw-svg-right-wrap {
  float: right;
  margin: 0px 0px 20px 20px;
}

img.excalidraw-svg-left-wrap {
  float: left;
  margin: 0px 35px 20px 0px;
}

img.excalidraw-svg-right {
  float: right;
}

.excalidraw-svg-center {
  text-align: center;
}

img.excalidraw-svg-left {
  float: left;
}

div.excalidraw-svg-right,
div.excalidraw-svg-left {
  display: table;
  width: 100%;
}

button.ToolIcon_type_button[title="Export"] {
  display:none;
}

.excalidraw-prompt-div {
  display: flex;
  max-width: 800px;
}

.excalidraw-prompt-form {
  display: flex;
  flex-grow: 1;
}

.excalidraw-prompt-input {
  flex-grow: 1;
}

.excalidraw-prompt-button {
  width: 9em;
}

.excalidraw-prompt-buttons-div {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-evenly;
}

li[data-testid] {
  border: 0 !important;
  margin: 0 !important;
  padding: 0 !important;
  width: 100% !important;
}

.excalidraw .context-menu-option-separator {
  margin: 4px !important;
}

.excalidraw .popover {
  padding: 0 !important;
  border-color: transparent !important;
  border: 0 !important;
  box-shadow: 0 !important;
  background-color: transparent !important;
}

.disable-zen-mode--visible {
  color: var(--text-primary-color);
}

.disable-zen-mode {
  width: 9em !important;
}

.ex-coffee-div {
	text-align: center;
	margin-bottom: 10px;
}

.excalidraw-scriptengine-install td>img {
  width: 100%;
  max-width:800px;
}

.excalidraw-scriptengine-install img.coffee {
  width: 130px;
}

.excalidraw-scriptengine-install tr {
  vertical-align: top;
}

.excalidraw-scriptengine-install table {
  max-width: 130ch;
}

.excalidraw-scriptengine-install td.label {
  min-width: 11ch;
  font-weight: bold;
  padding-right: 5px;
}

.excalidraw-scriptengine-install td.data {
  width: 100%;
}

.excalidraw-scriptengine-install .modal-content {
  max-width: 130ch;
  user-select: text;
}

.excalidraw-scriptengine-install .modal {
  max-height:90%;
  width: auto;
}

.excalidraw-prompt-center {
  text-align: center !important;
}

.excalidraw-prompt-center button {
  margin: 0 10px;
}

.excalidraw-prompt-center.filepath {
  text-align: center;
  font-weight: bold;
  margin-bottom: 2em;
}

.excalidraw-dirty {
  color: red;
}

.workspace-leaf-content .excalidraw-view {
  padding: 0px 1px; /*1px so on ipad swipe in from left and right still works*/
  overflow: hidden;
}

.excalidraw-videoWrapper {
  max-width:600px
}
.excalidraw-videoWrapper div {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  margin: 0 auto;
}

.excalidraw-videoWrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.excalidraw-release .modal-content{
  padding-right: 5px;
  margin-right: -5px;
  user-select: text;
}

.excalidraw-release .modal {
  max-height: 80%;
  max-width: 42em;
}

.excalidraw .Island .scrollbar {
  --scrollbar-thumb-bg: silver;
}

.excalidraw .ToolIcon__icon img{
  height: 1em;
}

.excalidraw-scriptengine-install tbody>tr>td>div>img {
  height:20px;
  background-color: silver;
  padding: 2px;
}

.excalidraw-scriptengine-install tbody>tr>td>div {
  width: 50px;
  display: inline-block;
}

.excalidraw-release p>a>img {
  width: 100%
}

.excalidraw .context-menu-option {
  box-shadow: none;
}

textarea.excalidraw-wysiwyg {
  border: none;
  outline: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  border-radius: 0;  
}

.is-tablet .excalidraw button,
.is-mobile .excalidraw button {
  padding: initial;
  height: 1.8rem;
}

.excalidraw button,
.ToolIcon button {
  box-shadow: none;
  justify-content: initial;
}

.excalidraw {
  --default-button-size: 2rem !important;
  --default-icon-size: 1rem !important;
  --lg-button-size: 1.8rem !important;
  --lg-icon-size: 1rem !important;
}

.excalidraw .tray-zoom {
  pointer-events: initial;
  padding-bottom: 0.05rem;
  padding-top: 0.05rem;
}

.excalidraw-container.theme--dark {
  background-color: #121212;
  color: #fff;
}

/* https://discordapp.com/channels/686053708261228577/989603365606531104/1041266507256184863 */
/*.workspace-leaf {
	contain: none !important;
}*/

.color-picker-content {
  overflow-y: auto;
  max-height: 10rem;
}

.excalidraw .FixedSideContainer_side_top {
  top: 0.3rem;
}

.excalidraw .ToolIcon__keybinding {
  font-size: 0.45rem !important;
}

.Island > .Stack > .Stack {
  padding:0.2rem;
}

label.color-input-container > input {
  max-width: 5rem;
}

.excalidraw .FixedSideContainer_side_top {
  left: 10px !important;
  top: 10px !important;
  right: 10px !important;
  bottom: 10px !important;
}

.excalidraw-hidden {
  display: none !important;
}

.excalidraw .panelColumn .buttonList {
  max-width: 13rem;
}

.excalidraw button {
  width: initial;
}

.excalidraw input[type="color"] {
  width: 1.65rem;
  height: 1.65rem;
}

.excalidraw input[type="color"]::-webkit-color-swatch {
    height: 1.65rem;
}


.excalidraw input[type="color"]::-webkit-color-swatch-wrapper {
  padding: 0;
}

.excalidraw-settings input {
  min-width: 10em;
}

div.excalidraw-draginfo {
  position: absolute;
  z-index: 1000;
  color: var(--text-normal);
  padding: 3px;
  background: var(--color-base-40);
  display: block;
  border-radius: 5px;
}

.excalidraw [data-radix-popper-content-wrapper] {
  position: absolute !important;
}

.excalidraw__embeddable-container .view-header {
  display: none !important;
}

.excalidraw__embeddable-container input {
  background: initial;
}

.excalidraw .HelpDialog__key {
  background-color: var(--color-gray-80) !important;
}

.excalidraw .embeddable-menu {
    width: fit-content;
    height: fit-content;
    position: absolute;
    display: block;
    z-index: var(--zIndex-layerUI);
}

.excalidraw .welcome-screen-center__logo svg {
  width: 5rem !important;
}

.excalidraw-image-wrapper {
  text-align: center;
}

.excalidraw-image-wrapper img {
  margin: auto;
}/* Sets all the text color to red! */
/* body {
    color: red;
} */



.block-language-math mjx-container.MathJax, .livePrevPlus mjx-container.MathJax {
    text-align: left !important;
}

.block-language-math {
  position: relative;
  overflow-y: hidden;
  overflow-x: auto;
  resize: vertical;
}

/* .block-language-math:active {
  min-height: 0;
} */

/* Math Block Webkit Resizer */

.cm-preview-code-block:hover .block-language-math::after {
  opacity: 1;
}

.block-language-math::after {
  width: 20px;
  height: 20px;
  display: inline-block;
  content:'';
  position: fixed;
  right: 4px;
  bottom: 4px;
  background: linear-gradient(  315deg,  
    var(--text-normal),  var(--text-normal) 1px,  
    transparent 1px,  transparent 3px,  
    var(--text-normal) 3px,  var(--text-normal) 4px,  
    transparent 4px,  transparent 6px,  
    var(--text-normal) 6px,  var(--text-normal) 7px,  
    transparent 7px,  transparent 9px
  );
  pointer-events: none;
  opacity: 0;
  transition: opacity 500ms;
}

.block-language-math::-webkit-resizer {
  display: none !important;
}

.block-language-math::-webkit-scrollbar-corner {
  background: rgba(0,0,0,0);
}

/* .block-language-math:not(:hover)::-webkit-resizer {
  background-color: transparent;
  transition: all 10000ms;
} */

.block-language-math ~ .edit-block-button {
  z-index: 2;
}

/* .block-language-math::-webkit-scrollbar-track {
  background: #202020;
} */

/* .block-language-math:hover::-webkit-scrollbar-track {
  background: unset;
  transition: all 300ms;
} */

.block-language-math.editing {
  overflow-x: hidden;
}

/* Fix Border Flickering */
.markdown-source-view.mod-cm6 .cm-embed-block {
  border: none;
  box-shadow: 0 0 0 2px transparent;
  transition: box-shadow 500ms;
}

.markdown-source-view.mod-cm6 .cm-embed-block:hover {
  box-shadow: 0 0 0 2px var(--background-modifier-border);
}

/* Fix Expanding Toolbar */
.excalidraw .App-bottom-bar > .Island {
  width: unset;
  min-width: unset;
}

.excalidraw .ToolIcon_type_button {
  margin: 0 3px;
}

/* ----------------------------------------- */

.big-text-area {
  align-items: flex-start;
}

.big-text-area textarea {
  overflow-wrap: normal;
  height: 300px;
  width: 500px;
  white-space: pre;
}

.big-text-area .setting-item-control {
  flex-direction: column;
  align-items: flex-end;
  gap: 10px;
}

.math-pill {
  height: 3.5px;
  width: 50%;
  background-color: var(--background-modifier-border);
  position: absolute;
  top: 4px;
  border-radius: 10px;
  left: 50%;
  transform: translateX(-50%);
  cursor: pointer;
}

.math-pill:after{
  content: "";
  padding: 0;
  position: absolute;
  left: -5px;
  display: block;
  width: calc(100% + 10px);
  height: 12px;
  top: -5px;
} 

.math-button-group {
    margin-right: 25px;
    position: fixed;
    top: 5px;
    right: 5px;
    display: flex;
    flex-direction: row-reverse;
    z-index: 2;
    padding: 0;
    /* margin-top: calc(-20px - calc(var(--font-text-size) - 16px)); */
}

.markdown-reading-view .math-button-group {
  display: none;
}

.math-button {
    width: 26px;
    height: 26px;
    padding: 5px;
    display: flex;
    position: relative;
    background-color: var(--interactive-accent);
    color: var(--text-on-accent);
    border-radius: 5px;
    cursor: pointer;
    z-index: 1;
    margin-right: 7px;
    opacity: 0;
    z-index: 1;
    transition: opacity 500ms;
}

.block-language-math:not(.user-sized) .math-button.snap-button{
  display: none;
}

.block-language-math svg{
    display: block;
    width: 16px;
    fill: var(--text-on-accent);
}

.math-svg-wrapper > svg {
  height: calc(100% + 500px);
  width: unset;
  filter: var(--theme-filter);
  margin-left: -500px;
  margin-top: -500px;
}

.math-svg-wrapper {
  top: 0;
  position: absolute;
  height: calc(100% + 20px);
  margin-top: -9px;
  margin-left: -9px;
  overflow: hidden;
  min-width: 100%;
}

.markdown-reading-view .math-svg-wrapper {
  height: 100%;
}

/* Canvas */

.excalidraw-canvas-wrapper .excalidraw-canvas {
  font-family: sans-serif;
  text-align: center;
  height: 100%;
  width: 100%;
  /* position: absolute; */
}
.excalidraw-canvas-wrapper {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
}

.button-wrapper button {
  z-index: 1;
  height: 40px;
  max-width: 200px;
  margin: 10px;
  padding: 5px;
}

.excalidraw-canvas-wrapper .excalidraw .App-menu_top .buttonList {
  display: flex;
}

.excalidraw-canvas-wrapper .excalidraw-wrapper {
  height: 100%;
  /* // margin: 50px; */
  padding: 0;
  margin: 0;
  opacity: 1 !important;
}

.excalidraw-canvas-wrapper .excalidraw {
  background: #fff0 !important;
}

:root[dir="ltr"]
  .excalidraw-canvas-wrapper 
  .excalidraw
  .layer-ui__wrapper
  .zen-mode-transition.App-menu_bottom--transition-left {
  transform: none;
}

.excalidraw-canvas-wrapper .excalidraw .panelColumn {
  text-align: left;
}

.export-wrapper {
  display: flex;
  flex-direction: column;
  margin: 50px;

  /* &__checkbox {
    display: flex;
  } */
}

/* Hide UI */
.excalidraw-canvas-wrapper .App-menu_top.App-menu_top.App-menu_top > * {
  display: none;
}

.excalidraw-canvas-wrapper .App-menu_top.App-menu_top.App-menu_top > section {
  display: block;
}

.excalidraw-canvas-wrapper .App-menu_top.App-menu_top.App-menu_top > .Stack.Stack_vertical {
  display: block;
}

.excalidraw-canvas-wrapper .App-menu_top.App-menu_top.App-menu_top > .Stack.Stack_vertical section {
  display: none;
}

.excalidraw-canvas-wrapper .App-menu_top.App-menu_top.App-menu_top > .Stack.Stack_vertical section:not(:first-of-type) {
  display: block;
  position: absolute;
  bottom: 0;
  margin-bottom: 8px;
}

.hidden-color-picker .App-menu_top.App-menu_top.App-menu_top > .Stack.Stack_vertical section:not(:first-of-type) {
  display: none;
}

.excalidraw-canvas-wrapper .App-menu_top.App-menu_top.App-menu_top > .Stack.Stack_vertical section:not(:first-of-type) input {
  height: 30px;
  caret-color: var(--caret-color);
}

.excalidraw-canvas-wrapper .App-menu_top.App-menu_top.App-menu_top > .Stack.Stack_vertical section:not(:first-of-type) .popover {
  display: none;
}

.excalidraw-canvas-wrapper .App-menu_top.App-menu_top.App-menu_top > .Stack.Stack_vertical section:last-of-type .panelColumn > * {
  display: none;
}

.excalidraw-canvas-wrapper .App-menu_top.App-menu_top.App-menu_top > .Stack.Stack_vertical section:last-of-type .panelColumn > div:first-of-type {
  display: block;
}

.excalidraw-canvas-wrapper .App-menu_top.App-menu_top.App-menu_top > .Stack.Stack_vertical section:last-of-type .panelColumn > h3:first-of-type {
  display: block;
}

.excalidraw-canvas-wrapper .App-bottom-bar.App-bottom-bar.App-bottom-bar, .excalidraw-canvas-wrapper .HintViewer.HintViewer.HintViewer, .excalidraw-canvas-wrapper .App-menu_bottom.App-menu_bottom.App-menu_bottom {
    display: none ;
}

/* Hide Buttons */
.no-lock label[title="Keep selected tool active after drawing — Q"] {
  display: none !important;
}

.excalidraw-canvas-wrapper .App-toolbar label[title="Insert image — 9"] {
  display: none;
}
.no-diamond .App-toolbar label[title="Diamond — D or 3"] {
    display: none;
}
.no-ellipse .App-toolbar label[title="Ellipse — E or 4"] {
    display: none;
}
.no-line .App-toolbar label[title="Line — P or 6"] {
    display: none;
}

.no-select .App-toolbar label[title="Selection — V or 1"] {
  display: none;
}

.no-rect .App-toolbar label[title="Rectangle — R or 2"] {
  display: none;
}

.no-arrow .App-toolbar label[title="Arrow — A or 5"] {
  display: none;
}

.no-pen .App-toolbar label[title="Draw — X or 7"] {
  display: none;
}

.no-text .App-toolbar label[title="Text — T or 8"] {
  display: none;
}

/* Lock UI */
.App-toolbar-container.App-toolbar-container.App-toolbar-container.App-toolbar-container label[title="Keep selected tool active after drawing — Q"] {
  left: -50px;
  display: block;
  position: absolute;
  opacity: 0;
  top: 50%;
  transform: translateY(-50%);
  border-radius: 100px;
  outline: none !important;
}

.App-toolbar-container.App-toolbar-container.App-toolbar-container.App-toolbar-container label[title="Keep selected tool active after drawing — Q"] * {
  box-shadow: none !important;
}

.App-toolbar-container.App-toolbar-container.App-toolbar-container.App-toolbar-container label[title="Keep selected tool active after drawing — Q"] .ToolIcon__icon {
  border-radius: 100px;
  width: 2.5em;
  height: 2.5em;
}

/* Style UI */
.excalidraw-canvas-wrapper .App-toolbar-container.App-toolbar-container.App-toolbar-container > * {
    display: none;
}
.excalidraw-canvas-wrapper .App-toolbar-container .Island.App-toolbar {
    display: block;
    background: transparent;
    padding: 0;
    box-shadow: none;
    opacity: 0;
    transition: opacity 300ms;
}

.cm-preview-code-block:hover .App-toolbar-container .Island.App-toolbar, .cm-preview-code-block:hover button, .cm-preview-code-block:hover .math-button,.cm-preview-code-block:hover .math-color-box, .cm-preview-code-block:hover label[title="Keep selected tool active after drawing — Q"] {
    opacity: 1 !important;
}

.excalidraw-canvas-wrapper .App-toolbar .Stack.Stack_horizontal {
    display: flex;
    flex-direction: column;
    border: 2px solid var(--background-modifier-border);
    border-right: none;
    background-color: none;
    padding: 10px;
    padding-right: 5px;
    border-radius: 10px 0 0 10px;
    font-size: 16px;
    /* position: absolute; */
    /* right: 0; */
    /* top: 50%; */
    /* transform: translateY(-50%); */
}

.excalidraw-canvas-wrapper .FixedSideContainer.FixedSideContainer_side_top {
    height: 100%;
}

.excalidraw-canvas-wrapper .FixedSideContainer.FixedSideContainer_side_top.App-top-bar section, .excalidraw-canvas-wrapper .App-menu_top.App-menu_top.App-menu_top > section {
    position: absolute;
    top: calc(50% - 20px);
    transform: translateY(-50%);
    z-index: 1;
}

.excalidraw-canvas-wrapper .excalidraw section {
    position: absolute;
    right: 0;
    background-color: var(--background-primary);
}

.excalidraw-canvas-wrapper .excalidraw * {
  caret-color: #000;
}

/* Color Picker */
.math-color-swatch {
  width: 20px;
  height: 20px;
  background-color: #000;
  border-radius: 50%;
  cursor: pointer;
  filter: var(--theme-filter);
}

.math-color-box {
  display: flex;
  background-color: var(--background-primary);
  position: absolute;
  gap: 10px;
  left: 50%;
  bottom: 3px;
  z-index: 2;
  transform: translateX(-50%);
  padding: 12px 20px;
  border-radius: 100px;
  border: 2px solid var(--background-modifier-border);
  box-shadow: 0 0 0 1px rgb(0 0 0 / 1%), 1px 1px 5px rgb(0 0 0 / 12%);
  padding-top: 15px;
  opacity: 0;
  transition: bottom 200ms, opacity 300ms;
}

.math-color-box.minimized:hover {
  bottom: -35px;
}

.math-color-box.minimized {
  bottom: -40px;
}

.math-color-swatch.selected {
  cursor: unset;
}

.math-color-swatch.selected:before {
  filter: var(--theme-filter);
  content: " ";
  border: 1.5px solid var(--background-primary);
  border-radius: 100px;
  /* height: 10px; */
  height: 17px;
  transform: scale(0.8);
  display: block;
}

/* Small UI */
.excalidraw-canvas-wrapper .small-canvas section{
    top: unset !important;
    bottom: 8px;
    margin-bottom: -25px;
}

.excalidraw-canvas-wrapper .small-canvas section .Island.App-toolbar {
  max-width: 60px;
  transition: max-width 300ms;
}

.excalidraw-canvas-wrapper .small-canvas section .Stack_horizontal .Stack_horizontal {
  flex-direction: row;
}

.excalidraw-canvas-wrapper .small-canvas .App-menu_top.App-menu_top.App-menu_top > .Stack.Stack_vertical section {
  display: none;
}

/* Small Math block */
.small-math-block .math-color-box {
  bottom: 2px;
}

.small-math-block .math-color-box.minimized:hover {
  bottom: -34px;
}

.small-math-block .math-color-box.minimized {
  bottom: -40px;
}

.cm-gutterElement {
  overflow: hidden;
}

/* Live Preview */
.livePrevPlusBox {
  /* border: 2px solid aqua !important; */
  /* background-color: #ccc; */
  border: 2px solid var( --icon-fill-color) !important;
}

.livePrevPlusBox:active {
  pointer-events: none !important;
}

.livePrevPlusBox .edit-block-button {
  display: none !important;
}

.livePrevPlusBox .livePrevPlus.livePrevPlus mjx-container {
  margin-top: 0;
  margin-left: 2px;
}

/* Vars */
.excalidraw-canvas-wrapper .excalidraw {
  --color-primary: var(--interactive-accent) !important;
  --color-primary-darker: #f783ac;
  --color-primary-darkest: #e64980;
  --color-primary-light: #fcc2d7;
  --color-primary-chubb: #faa2c1;
  --theme-filter: none;
}

.excalidraw-canvas-wrapper .excalidraw.theme--dark{
  --theme-filter:unset;
  --icon-fill-color: unset;
}

.theme-dark {
  --theme-filter: invert(93%) hue-rotate(180deg);
  --icon-fill-color: #ced4da;
  --caret-color: #fff;
}

.theme-light {
  --theme-filter: none;
  --icon-fill-color: #414244;
  --caret-color: #000;
}
.text-snippets-class > * > textarea{
    width:40em;
    height: 100%;
  }

.text-snippets-class > * {
  height: 100%;
  width: 60em;
}

.text-snippets-class {
  height: 70%;
}/* src/stalin.css */
.quiet-outline .n-tree {
  font-size: var(--nav-item-size);
}
.quiet-outline .n-tree-node-indent {
  flex: 0 0 13px !important;
}
.quiet-outline .n-tree-node-wrapper {
  padding: 0px;
}
.quiet-outline .n-tree-node.n-tree-node--selectable {
  align-items: center;
}
.quiet-outline .n-tree-node .n-tree-node-content {
  line-height: 1.6em;
  min-height: 10px;
}
.quiet-outline .n-tree-node-content__text p {
  margin: 0;
}
.quiet-outline .n-tree.ellipsis {
  overflow-x: hidden;
}
.quiet-outline .n-tree.ellipsis .n-tree-node .n-tree-node-content p {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.quiet-outline .n-tree.ellipsis .n-tree-node-content__text {
  width: 100%;
}
.quiet-outline .n-tree.ellipsis .n-tree-node-content {
  width: 90%;
}
.quiet-outline .n-tree.n-tree--block-line .n-tree-node:not(.n-tree-node--disabled):hover {
  color: var(--nav-item-color-active);
  background-color: var(--nav-item-background-active);
  font-weight: var(--nav-item-weight-active);
}
.quiet-outline .function-bar {
  display: flex;
  align-items: center;
  padding: 0px;
  margin-bottom: 5px;
}
.quiet-outline .function-bar .n-button {
  margin-right: 5px;
  text-align: center;
}
.quiet-outline .function-bar .n-input {
  flex: 1;
  min-width: 10px;
}
.is-mobile .quiet-outline .function-bar .n-button {
  margin-right: 5px;
  text-align: center;
  flex: 1;
}
.is-mobile .quiet-outline .function-bar .n-input {
  min-width: 10px;
  flex: none;
}
.quiet-outline .n-button__icon {
  --n-icon-size: 22px;
  font-size: 22px;
}
.quiet-outline code {
  color: var(--text-color-code, var(--code-normal));
  font-weight: bold;
  font-family: var(--font-monospace);
  background-color: var(--code-background);
  border-radius: var(--radius-s);
}
.quiet-outline a.tag {
  white-space: nowrap;
  padding: 0.2em 0.6em;
}
.quiet-outline a:not(.tag) {
  color: var(--link-external-color);
}
.quiet-outline span.internal-link {
  color: var(--link-color);
}
.quiet-outline mark {
  background-color: var(--text-highlight-bg);
  color: var(--text-normal);
}
.n-tree .n-tree-node-switcher {
  height: 0px;
}
.quiet-outline [class*=level-]:not(.level-1) .n-tree-node-content {
  font-size: 1em;
}
.n-tree-node.located {
  font-weight: bold !important;
}
.n-tree-node.located code {
  font-weight: 1000 !important;
}
.n-tree-node.located mjx-math {
  font-weight: bold !important;
}
.n-tree.n-tree--block-line .n-tree-node:not(.n-tree-node--disabled).n-tree-node--selected {
  background-color: transparent !important;
}
.quiet-outline {
  height: 100%;
  padding-bottom: 24px;
}
.quiet-outline #container {
  height: 100%;
}
.quiet-outline .n-config-provider {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.quiet-outline .n-tree {
  overflow: auto;
}
.n-tree__empty {
  display: none;
}

/* main.css */
.quiet-outline .n-tree .n-tree-node-indent {
  content: "";
  height: unset;
  align-self: stretch;
}
.quiet-outline .level-2 .n-tree-node-indent,
.quiet-outline .level-3 .n-tree-node-indent:first-child,
.quiet-outline .level-4 .n-tree-node-indent:first-child,
.quiet-outline .level-5 .n-tree-node-indent:first-child,
.quiet-outline .level-6 .n-tree-node-indent:first-child {
  border-right: var(--nav-indentation-guide-width) solid var(--8de97876-rainbowColor1);
}
.quiet-outline .level-3 .n-tree-node-indent,
.quiet-outline .level-4 .n-tree-node-indent:nth-child(2),
.quiet-outline .level-5 .n-tree-node-indent:nth-child(2),
.quiet-outline .level-6 .n-tree-node-indent:nth-child(2) {
  border-right: var(--nav-indentation-guide-width) solid var(--8de97876-rainbowColor2);
}
.quiet-outline .level-4 .n-tree-node-indent,
.quiet-outline .level-5 .n-tree-node-indent:nth-child(3),
.quiet-outline .level-6 .n-tree-node-indent:nth-child(3) {
  border-right: var(--nav-indentation-guide-width) solid var(--8de97876-rainbowColor3);
}
.quiet-outline .level-5 .n-tree-node-indent,
.quiet-outline .level-6 .n-tree-node-indent:nth-child(4) {
  border-right: var(--nav-indentation-guide-width) solid var(--8de97876-rainbowColor4);
}
.quiet-outline .level-6 .n-tree-node-indent {
  border-right: var(--nav-indentation-guide-width) solid var(--8de97876-rainbowColor5);
}
.n-tree-node.located p {
  color: var(--8de97876-locatedColor);
}

/* src/main.css */
body {
    --completr-suggestion-icon-height: 14px;
}

.completr-suggestion-item {
    padding: 5px 10px 5px 10px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    display: flex;
    align-items: center;
}

.completr-suggestion-item > * {
    display: inline-block;
}

.completr-suggestion-icon {
    height: var(--completr-suggestion-icon-height);
    min-height: var(--completr-suggestion-icon-height);
    max-height: var(--completr-suggestion-icon-height);

    margin-right: 0.5ch;
    color: var(--completr-suggestion-color);
}

.completr-suggestion-text {
}

.completr-suggestion-placeholder {
    border-width: 1px 0 1px 0;
    border-style: solid;
}

.completr-settings-no-border {
    border: none;
}

.completr-settings-list-item {
    border-top: 1px solid grey;
    padding: 4px 0 0 0;
}

.completr-settings-error {
    border: 1px solid red !important;
}

/**
Snippet color classes.
["lightskyblue", "orange", "lime", "pink", "cornsilk", "magenta", "navajowhite"]
 */

.completr-suggestion-placeholder0 {
    border-color: lightskyblue;
}

/* These extra selectors enforce their color on all children, because CodeMirror does weird nesting of spans when
 nesting multiple decorations. */
span.completr-suggestion-placeholder0 span {
    border-color: lightskyblue;
}

.completr-suggestion-placeholder1 {
    border-color: orange;
}

span.completr-suggestion-placeholder1 span {
    border-color: orange;
}

.completr-suggestion-placeholder2 {
    border-color: lime;
}

span.completr-suggestion-placeholder2 span {
    border-color: lime;
}

.completr-suggestion-placeholder3 {
    border-color: pink;
}

span.completr-suggestion-placeholder3 span {
    border-color: pink;
}

.completr-suggestion-placeholder4 {
    border-color: cornsilk;
}

span.completr-suggestion-placeholder4 span {
    border-color: cornsilk;
}

.completr-suggestion-placeholder5 {
    border-color: magenta;
}

span.completr-suggestion-placeholder5 span {
    border-color: magenta;
}

.completr-suggestion-placeholder6 {
    border-color: navajowhite;
}

span.completr-suggestion-placeholder6 span {
    border-color: navajowhite;
}

